# Local Food Wastage Management System

In [2]:
# Data understanding
import pandas as pd
import numpy as np

# import each datasets
providers=pd.read_csv("C:\\Users\\Ameen\\Downloads\\providers_data.csv")
providers.head()

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

In [4]:
receivers=pd.read_csv("C:\\Users\\Ameen\\Downloads\\receivers_data.csv")
receivers.head()

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

In [6]:
food=pd.read_csv("C:\\Users\\Ameen\\Downloads\\food_listings_data.csv")
food.head()

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

In [8]:
claims=pd.read_csv("C:\\Users\\Ameen\\Downloads\\claims_data.csv")
claims.head()

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [10]:
providers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Provider_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   Address      1000 non-null   object
 4   City         1000 non-null   object
 5   Contact      1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

In [12]:
receivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Receiver_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   City         1000 non-null   object
 4   Contact      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [14]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Food_ID        1000 non-null   int64
 1   Food_Name      1000 non-null   object
 2   Quantity       1000 non-null   int64
 3   Expiry_Date    1000 non-null   object
 4   Provider_ID    1000 non-null   int64
 5   Provider_Type  1000 non-null   object
 6   Location       1000 non-null   object
 7   Food_Type      1000 non-null   object
 8   Meal_Type      1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

In [16]:
claims.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     1000 non-null   int64
 1   Food_ID      1000 non-null   int64
 2   Receiver_ID  1000 non-null   int64
 3   Status       1000 non-null   object
 4   Timestamp    1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

### Data cleaning

In [20]:
# data type correction
claims['Timestamp']=pd.to_datetime(claims['Timestamp'])
claims.dtypes

Claim_ID                int64
Food_ID                 int64
Receiver_ID             int64
Status                 object
Timestamp      datetime64[ns]
dtype: object

In [23]:
# check for null values
providers.isnull().sum()

Provider_ID    0
Name           0
Type           0
Address        0
City           0
Contact        0
dtype: int64

In [25]:
receivers.isnull().sum()

Receiver_ID    0
Name           0
Type           0
City           0
Contact        0
dtype: int64

In [27]:
food.isnull().sum()

Food_ID          0
Food_Name        0
Quantity         0
Expiry_Date      0
Provider_ID      0
Provider_Type    0
Location         0
Food_Type        0
Meal_Type        0
dtype: int64

In [29]:
claims.isnull().sum()

Claim_ID       0
Food_ID        0
Receiver_ID    0
Status         0
Timestamp      0
dtype: int64

In [31]:
# No null values found

In [35]:
# check for duplicate values
providers.duplicated().sum()

0

In [37]:
receivers.duplicated().sum()

0

In [39]:
food.duplicated().sum()

0

In [41]:
claims.duplicated().sum()

0

In [43]:
# No duplicate values found.

#### Storing to database

In [52]:
import psycopg2 as pg
from sqlalchemy import create_engine

# standardising column names
providers.columns=providers.columns.str.lower()
receivers.columns=receivers.columns.str.lower()
food.columns=food.columns.str.lower()
claims.columns=claims.columns.str.lower()

# connect to postgresql
conn=pg.connect(dbname='Wastage',
               user='postgres',
               password='1234',
               host='localhost',
               port='5432')

cursor=conn.cursor()

# create table
cursor.execute("DROP TABLE IF EXISTS providers;")
cursor.execute("DROP TABLE IF EXISTS receivers;")
cursor.execute("DROP TABLE IF EXISTS food;")
cursor.execute("DROP TABLE IF EXISTS claims;")
conn.commit()

create_table1="""CREATE TABLE providers(Provider_ID integer,Name	varchar,Type varchar,Address varchar,City	varchar,Contact varchar);"""
create_table2="""CREATE TABLE receivers(Receiver_ID	integer,Name varchar,Type varchar,City varchar,Contact varchar);"""
create_table3="""CREATE TABLE food(Food_ID integer,Food_Name	varchar,Quantity integer,Expiry_Date varchar,Provider_ID	integer,
                                   Provider_Type	varchar,Location	varchar,Food_Type	varchar,Meal_Type varchar);"""
create_table4="""CREATE TABLE claims(Claim_ID	integer,Food_ID	integer,Receiver_ID	integer,Status	varchar,Timestamp timestamp);"""

cursor.execute(create_table1)
cursor.execute(create_table2)
cursor.execute(create_table3)
cursor.execute(create_table4)
conn.commit()

# Create SQLAlchemy engine
engine_string = "postgresql+psycopg2://postgres:1234@localhost:5432/Wastage"
engine = create_engine(engine_string)

# Store to database
providers.to_sql('providers',engine,if_exists='append',index=False)
receivers.to_sql('receivers',engine,if_exists='append',index=False)
food.to_sql('food',engine,if_exists='append',index=False)
claims.to_sql('claims',engine,if_exists='append',index=False)

1000

In [64]:
import streamlit as st, pandas as pd

@st.cache_data
def run_query(q): return pd.read_sql(q, engine)

st.title("Food Donation Dashboard")

# Filters
city = st.sidebar.selectbox("city", ["All"] + run_query("SELECT DISTINCT city FROM Providers")['city'].tolist())
provider = st.sidebar.selectbox("Provider Type", ["All"] + 
    run_query("SELECT DISTINCT type FROM providers")['type'].tolist())
food = st.sidebar.selectbox("Food Type", ["All"] + 
    run_query("SELECT DISTINCT food_type FROM food")['food_type'].tolist())

# Build WHERE clause
conds = []
if city != "All": conds.append(f"Location = '{city}'")
if provider != "All": conds.append(f"Provider_Type = '{provider}'")
if food != "All": conds.append(f"Food_Type = '{food}'")
where = "WHERE " + " AND ".join(conds) if conds else ""

# Display listings
sql = f"SELECT * FROM food {where} LIMIT 100;"
st.dataframe(run_query(sql))

# Show provider contacts
if st.checkbox("Show Provider Contacts"):
    st.table(run_query("SELECT Name, City, Contact FROM providers"))

2025-08-12 09:51:31.896 No runtime found, using MemoryCacheStorageManager